<table class="table">
	<% @orders.each do |order| %>
		<tr>
		  <td><%= order.product.name %></td>
		  <td><%= order.product.price %></td>
		</tr>
	<% end %>
    <tr>
        <td><strong>Total : </strong></td>
    	<td><strong> <%= @orders.map{|order| order.product.price}.sum %></strong></td>
    </tr>
</table>