<div class="jumbotron">
  <div class="container">
    <h2 align="center">Compras realizadas</h2> 
  </div>
</div>

<div class="container">
 
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Número de orden</th>
        <th>Cantidad de productos</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
       <% @orders_id.each do |id| %>
          <tr>
            <td> <%= id %> </td>
            <td> <%= @orders.where(billing_id: id).total_quantity %> </td>
            <td> <%= @orders.where(billing_id: id).get_total%></td>   
          </tr>
        <%end%>
    </tbody>
  </table>



</div>