<div class="container">
 
    <table class="table">
    <thead>
      <tr>
        <th>Número de orden</th>
        <th>Cantidad de productos</th>
        <th>Total</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.billing_id %> </td>
          <td> <%= order.quantity %> </td>
          <td> <%= order.price * order.quantity %></td>
          <% if order.payed = true %>
            <td> Pagado</td>
          <% else %>
            <td> No Pagado</td>
          <% end %>
        </tr>
      <% end %>
      <tr class="table-dark">
      <td></td>
      <td></td>
      </tr>
    </tbody>
  </table>

</div>