<div class="col-md-3">
	
</div>
<div class="col-md-6">
	<div class="jumbotron">
	  <div class="container">
	    <h2 align="center">Muchas Gracias!!</h2> 
	  </div>
	</div>
	<h3 align="center">Te contestaremos a la brevedad.</h3>


	<li><a href="<%= products_path%>">Volver</a></li>
</div>